<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<web-app>

    <!-- Servlet Declaration -->

    <servlet>
        <servlet-name>servlet-interface</servlet-name>
        <servlet-class>BasicsServlet.ServletInterface</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>generic-servlet</servlet-name>
        <servlet-class>BasicsServlet.GenericServletClass</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Http-Servlet</servlet-name>
        <servlet-class>BasicsServlet.HttpServletClass</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Basics Servlet</servlet-name>
        <servlet-class>BasicsServlet.Basics</servlet-class>
    </servlet>

<!--    Remove .jsp extension from jsp file-->
    <servlet>
        <servlet-name>jspExtension</servlet-name>
        <jsp-file>/remove-jsp-extension.jsp</jsp-file>
    </servlet>

    <!-- Servlet Mapping -->

    <servlet-mapping>
        <servlet-name>servlet-interface</servlet-name>
        <url-pattern>/servletInterface</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>generic-servlet</servlet-name>
        <url-pattern>/genericServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Http-Servlet</servlet-name>
        <url-pattern>/httpServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Basics Servlet</servlet-name>
        <url-pattern>/basicsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jspExtension</servlet-name>
        <url-pattern>/remove-jsp-extension</url-pattern>
        <url-pattern>/removeJsp</url-pattern>
    </servlet-mapping>

    <display-name>Archetype Created Web Application</display-name>

    <error-page> <!-- Error Page show, when user try to open un declare url -->
        <error-code>404</error-code>
        <location>/jsp-expHandling-pro4.jsp</location>
    </error-page>

<!--    session configuration-->
    <session-config>

    </session-config>

<!--    filter configuration-->
    <filter>
        <filter-name>filter-first</filter-name>
        <filter-class>filter.FilterClass</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filter-first</filter-name>
        <url-pattern>/profile-servlet</url-pattern>
        <url-pattern>/order-servlet</url-pattern>
    </filter-mapping>

</web-app>
